NODE_ENV=development
PORT=5000

# Prisma MongoDB connection string (required)
DATABASE_URL="mongodb+srv://<user>:<password>@<host>/<db>?retryWrites=true&w=majority"

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# If you later want to send real SMS, plug a provider here (Twilio, etc).
SMS_PROVIDER=mock

# Google Sign-In (ID token verification)
GOOGLE_CLIENT_ID=482737479562-d6kqgr10esrbltgg3gcpunqvniaff36d.apps.googleusercontent.com